<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="platformName" value="iOS" />
    <Parameter name="deviceName" value="iPhone 15 Pro" />
    <Parameter name="appium:app" value="/BUILDS/IOS/ConsentMessagePlugin.app" />
    <Parameter name="appium:automationName" value="xcuitest" />
  </TestRunParameters>
</RunSettings>